.company {
    margin-bottom: 40px;

    .company-header {
        min-height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            text-align: center;
            width: 970px;
            margin-top: 20px;

            .paragraphHeader {
                color: #F58F47;
                letter-spacing: 2px;
                font-size: 15px;
                font-weight: 500;
                font-family: Roboto, Arial, Helvetica, sans-serif;
            }

            h2 {
                font-size: 32px;
                font-weight: bold;
                font-style: normal;
                color: #0C193E;
                font-family: Roboto, Arial, Helvetica, sans-serif;

            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;

                hr {
                    width: 40px;
                    border-bottom-width: 5px;
                    border-bottom-color: black;
                }
            }


        }

        // service content for tablet
        @media screen and (max-width: 1100px) {

            div {
                width: 100%;

                h2 {
                    font-size: 25px;
                }

            }

        }

    }

 
    // company cards stying is here
    .company-cards {
        width: 100%;

        .images {
            display: flex;
            justify-content: space-evenly;

            .image {
                width: 400px;

                img {
                    height: 300px;
                    width: 400px;
                    margin-bottom: 5px;
                    cursor: pointer;
                }

                h4 {
                    font-size: 21px;
                    cursor: pointer;
                }

                h4:hover {
                    color: #F58F47;
                }

                p {
                    color: gray;
                }

                span {
                    margin-right: 2px;
                    cursor: pointer;
                }

                span:hover {
                    color: #F58F47;
                }
            }
        }

        // company cards for tablets
        @media screen and (max-width: 1100px) {
            .images {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .image {
                    margin-bottom: 10px;
                }
            }
        }

        // company cards for mobile
        @media screen and (max-width: 550px) {
            .images{
                .image{
                    width: 330px;
                    img{
                        width: auto;
                    }
                    h4{
                        font-size: 19px;
                    }
                    span{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}