.doctor__header {
    position: relative;
    text-align: center;
    color: black;
    height: 100vh;
    z-index: 14 !important;
    background: linear-gradient(-45deg, rgba(103, 226, 238, 0.4), black) fixed,url('INSERTBACKGROUND') fixed;
    background-size: cover;
    overflow: hidden;
  
   // background: linear-gradient(to bottom, rgba(19, 2, 6, 0.5), rgb(46, 220, 255)),
   // url('../images/sean-pollock-PhYq704ffdA-unsplash.jpg') no-repeat center / cover;
    
  }
  
  .doc__clip__background{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin-top: 25vh;
    img{
     height: 75vh;
     width: 105%;
    }
  }
  .doc__pic{
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 0;
    z-index: 0;
    img{
      width: 100%;
      width: 550px;
      height:auto;
      overflow: hidden;
    }
  }
  .doc__text__button{
    position: absolute;
  top: 50%;
  left: 52.2%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: left;
    h1{
      font-size: 60px;
      padding-bottom: 8px;
    }
    p{
      font-weight: 450;
      font-size: 18px;
    }

   
    button {
      margin: 0 0px;
      position: relative;
      top: 50%;
      width: 160px;
      height: 45px;
      line-height: 35px;
      background: 0;
      border: 0;
      color: white;
      font-weight: bold;
    
      
      &:hover:after {
        top: -2px;
        box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }
    
      &:after {
        content: 'Appointment';
        display: block;
        position: absolute;
        border-radius: 3px;
        width: 100%;
        height: 100%;
        padding-top: 4px;
        transition: all 0.2s;
        box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.1);
        
        //box-shadow: 0 8px 6px -6px black;
        top: 0;
        left: 0;
      }
      &.doc__button:after {
        background: RGB(13, 185, 183);
      }
    
    }
      }

  .doc__social{
   display: flex;
   position: absolute;
   top: 130%;
   left: 50%;
   width: 100%;
   max-width: 1400px;
   margin: 0 auto;
   z-index: 2;
   transform: translate(-50%, -50%);
   margin-left: -12px;
   li{
    margin-left: 12px;
    color: RGB(12, 184, 182);
   .icon:hover{
    cursor: pointer;
    color: rgb(78, 243, 240);
   }
   }
  }
