.whitepaper{
    width: 100%;
    background: rgb(245, 241, 241);
    height: auto;
    direction: ltr;
    .whitpaper___inner{
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding-top: 8vh;
        padding-bottom: 5vh;
        .whitepaper__picture{
            max-width: 550px;
            img{
                width: 100%;
                height: auto;
            }
        }
        .whitepaper__text{
            max-width:550px;
            text-align: right;
            h1{
                color: black;
                font-size: 40px;
                padding-bottom: 20px;
            }
            h5{
                font-weight: 100;
                font-size: 22px;
                color: black;
            }
        }
    }

}
// to make it responsive
@media screen and (max-width: 900px){
    .whitpaper___inner{
        flex-direction: column;
    }
}