@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap'); /* find this font and more @ https://fonts.google.com/specimen/Special+Elite?category=Display,Handwriting */

/* RESET */
*, *::before, *::after {
  /* get rid of those pesky browser presets! */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  transition: all 300ms ease-in-out; /* save your typing hand --> applies smooth transition to all elements such as hover effects */
}
img {
  max-width: 100%; /* keep those images in their containers where they belong */
}
:root {
  font-size: 10px; /* insures all fonts are not affected by browser presets and easy to convert to rem units | 18px = 1.8rem */
  font-family: "Special Elite", serif;
}
/* MAIN STYLES */
.gallery__back{
  background-color: #333A3D;
  padding-top: 5vh;
  padding-bottom: 5vh;
  p{
    text-align: center;
    color: white;
    margin-top: 30px;
    font-weight: 400;
    span{
      color:  #c82232;
    }

  }
}
/* GALLERY */
.card-container {
  background-color: #333A3D;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)); /* additional cards can be easily added to the grid while maintaining responsiveness */
  grid-gap: 10px;
  margin: 20px; /* a little room to breath on smaller screens */
  padding: 10px; /* allows .card box-shadow to be seen, otherwise hidden by overflow:hidden */
  overflow: hidden; /* needed for responsiveness of grid and to prevent horizontal overflow scroll on small screens */
}
.card__gallery {
  position: relative; /* needed to position child elements as absolute */
  display: grid;
  height: 180px;
  background-color: #333A3D;
  overflow: hidden; /* comment this out, hover over cards, and see what happens! */
  border-radius: 2px;
  box-shadow: 2px 4px 8px rgba(59,38,0,.6); /* transparent dark brown color */
}
.card-img {
  position: absolute;
  width: 100%; /* change these values to 80% and watch what happens! */
  height: 100%;
  object-fit: cover; /* without this the image would stretch to fit the width & height */
}
.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: orange;
  opacity: 0; /* the text is always there, just invisible... spooky! */
  z-index: 1; /* change to 0 and watch what happens! */
}
.card__gallery:hover::after {
  content: '';
  position: absolute;
  top: 0; /* all values are needed for the content to span the space of the container */
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
}
.card__gallery:hover .card-img {
  scale: 1.5; /* that zoom effect! */
}
.card__gallery:hover .card-text {
  opacity: 1; /* now, there's the text! */
}
